
<!-- kit javascripts -->
<script src="/js/todo_tag.js"></script>
<script src="/js/jquery-min.js"></script>
<script src="/js/jsvim.js"></script>

<style>
    #sandbox {
        font-family: Courier, "Courier New", monospace;
        font-size: 11px;
    }
</style>


<script>
    window.onload = function(){
        /* create VIM instance for each textarea */
        var vim = new VIM()

        /* log debug messages */
        // vim.on_log = function(m){ console.log('VIM: '+m) }
        vim.on_log = function(m) {
            var LENGTH = 10
            var p = $('<div></div>').text( m )
            $('#log').prepend( p )
            if ( $('#log').children().length > LENGTH ) {
                $('#log').children(':last').remove()
            }
        }

        var target = document.getElementById('sandbox')
        if (target !== null) {
            /* attach vim. this is the only line really needed */
            vim.attach_to( target )
            target.focus()
        }
    }
</script>


<table class="table" >
    <% @notebooks.each_with_index do |notebook, index| %>
        <tr>
            <td><%= notebook[:id] %></td>
            <td>
                <%=notebook[:title]%>
            </td>
            <td>
                <a href="/notebook/edit?id=<%= notebook[:id] %>">edit</a>
            </td>
            <td>
                <a href="/notebook/delete?id=<%= notebook[:id] %>">delete</a>
            </td>
        </tr>
    <% end if @notebooks%>
</table>
