<form method="post" action="/kit_files/upload" enctype="multipart/form-data">
    <labeL for="file">File:</labeL>
    <input name="file" type="file" />
    <input type="submit" value="Upload">
</form>


