<style>
    .help {
        z-index: 999;
        width: 99%;
        height: 99%;
        margin: auto;
        position: fixed;
        padding:20px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        color: white;
        border: 1px solid white;
    }
    .help td { color:white;}
    .help table {
        border-collapse: collapse;
        font-family: courier;
        width:90%;
    }
    .help table,.help td,.help th {
        border: 1px solid white;
        padding: 5px;
    }


</style>
<div id="help" class="help">
    <table>
        <th>
            <td colspan=2>keyboard shortcuts</td>
        </th>
        <tr>
            <td>;   g   t</td>
            <td>Go to kit_todo</td>
            </tr> <tr>
            <td>;   n   t</td>
            <td>New todo</td>
            </tr> <tr>
            <td>;   g   f</td>
            <td>Go to kit_file</td>
            </tr> <tr>
            <td>;   n   f</td>
            <td>New File</td>
            </tr> <tr>
            <td>;   g   n</td>
            <td>Go to Notebook List</td>
            </tr> <tr>
            <td>;   n   n</td>
            <td>New Notebook</td>
            </tr> <tr>
            <td>;   g   shift   T</td>
            <td>Go to kit_time</td>
            </tr> <tr>
            <td>h</td>
            <td>help</td>
        </tr>
            </div>
        </table>
