<html>
    <head>
        <meta name="robots" content="noindex" />
        <title>keep it</title>
     </head>
    <body>

        <div class="passwd">
        <form id="passwd"  method="get" action="/login">
            <labeL for="pass">login: </labeL>
            <input name="pass" id="pass" type="text" size=40 />
            <input type="submit" value="go">
        </form>
        </div>
    </body>

    </body>
</html>
