<form id="login"  method="post" action="/login">
    <labeL for="username">Username: </labeL>
    <input name="username" id="username" type="text" size=20 />
    <p />
    <labeL for="passwd">Password: </labeL>
    <input name="passwd" id="passwd" type="password" size=20 />
    <p />
    <input type="submit" value="login">
</form>
