<p>kit_admin</p>

<form id="log_level_form"  method="get" action="/update_log_level">
    <labeL for="log_level">Logging Level:</labeL>
    <select name="log_level" id="log_level">
        <% if @log_levels %>
            <% @log_levels.each do |level| %>
                <option value="<%= level[:value] %>" <%= "selected='true'" if level[:value] == @kit_log_level %>><%= level[:value] %></option>
            <% end %>
        <% end %>
    </select>
    <input type="submit" value="go">
</form>
    <br><br><hr><br><br>

    <form id="run_bash_command"  method="get" action="/bash_command">
    <labeL for="cmd">command Ghael:</labeL>
    <input name="cmd" type="text" />
    <input type="submit" value="go">
</form>


    <link rel="stylesheet" type="text/css" href="/contador/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/contador/css/style.css">
    <link type="javascript" href="/contador/js/script.js">
    <script src="/contador/js/jquery.min.js"></script>
    <script src="/contador/js/progressbar.min.js"></script>
    <script src="/contador/js/countdown.js"></script>
    <br><br>
    <div id="contador">
    </div>
