<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/jquery.sparkline.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/keymaster.js"></script>
        <link rel="stylesheet" href="/js/jquery-ui.min.css">
        <!-- end jQuery -->

        <script src="/js/bootstrap.min.js"></script>
        <!-- kit javascripts -->
        <script src="/js/todo_tag.js"></script>
        <!-- end kit javascripts -->

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>


        <meta name="robots" content="noindex" />
        <title>keep it</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">keep it</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <% if session? %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ToDo <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a id="todo_link" href="/todo">ToDo</a></li>
                                    <li><a id="todo_list_link" href="/todo/todo_list">ToDo List</a></li>
                                    <li><a id="todo_tag_link" href="/todo/todo_tag">ToDo Tags</a></li>
                                </ul>
                            </li>
                            <li><a id="kit_daily_link" href="/kit_daily" >daily</a></li>
                            <% if session[:uid].to_i == 1 %>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frases <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="frase_link" href="/frase" >Frases</a></li>
                                        <li><a id="words_link" href="/words" >Palavras</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">qc <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/bijqc" >bijqc</a></li>
                                        <li><a href="/player/index.html" >GPlayer</a></li>
                                    </ul>
                                </li>
                            <% end %>
                            <% if session[:uid] != 0 %>
                                <li><a id="kit_files_link" href="/kit_files" >kit files</a></li>
                                <li><a id="kit_task_man_link" href="/kit_task_man" >kit tasks</a></li>
                            <% end %>
                            <% if session[:uid].to_i == 1 %>
                                <li class="qc">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="git_pull_link" href="/git_pull" >git pull</a></li>
                                        <li><a id="sinatra_log_link" href="/sinatra_log" >Sinatra Log</a></li>
                                        <li><a id="kit_admin_link" href="/kit_admin" >kit admin</a></li>
                                    </ul>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </li>
                <li><a href="/logout">Logout</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <br>
        <br>
        <br>

        <div class="container">

                    <% if @kmsg %>
                        <div class="alert alert-danger" role="alert"><%= @kmsg %></div>
                    <% end %>

                    <%= yield %>


        </div>



    </body>
</html>

