<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/freelancer.css" rel="stylesheet">


        <meta name="robots" content="noindex" />
        <title>keep it</title>
     </head>
    <body>
    <h3> keep it </h3>
    <a href="/">kit</a> | <a href="/todo_list">Todo List</a> | <a href="/todo">Todo</a> | <a href="/logout">logout</a>
    <hr>
    <%= yield %>
    </body>
</html>
