<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/freelancer.css" rel="stylesheet">



        <meta name="robots" content="noindex" />
        <title>keep it</title>
     </head>
    <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">keep it</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Page Content -->
<br>
<br>
<br>

    <div class="container">

        <div class="row">

            <div class="col-md-2">
                <% if session? %>
                    <p class="lead">keep it <%=session[:username]%></p>
                <%else%>
                    <p class="lead">keep it </p>
                <%end%>
                <% if session? %>
                <div class="list-group">
                    <a href="/todo" class="list-group-item">ToDo</a>
                    <a href="/todo_list" class="list-group-item">ToDo List</a>
                    <a href="/todo_tag" class="list-group-item">ToDo Tags</a>
                    <a href="/logout" class="list-group-item">Logout</a>
                </div>
                <% if session[:uid] != 0 %>
                <div class="list-group">
                    <a href="/frase" class="list-group-item">Frases</a>
                    <a href="/words" class="list-group-item">Palavras</a>
                </div>

                <div class="list-group">
                    <a href="/bijqc" class="list-group-item">bijqc</a>
                    <a href="/player/index.html" class="list-group-item">GPlayer</a>
                </div>
                <% end %>
                <% if session[:uid].to_i == 1 %>
                    <div class="list-group">
                        <a href="/git_pull" class="list-group-item">git pull</a>
                        <a href="/sinatra_log" class="list-group-item">Sinatra Log</a>
                    </div>
               <% end %>
                <% end %>
            </div>

            <div class="col-md-10">

                <%= yield %>

            </div>

        </div>
    </div>



    </body>
</html>

