<form id="new_todo"  method="get" action="/new_todo">
    <labeL for="text">ToDo:</labeL>
    <input name="text" id="text" type="text" size=100 />
    <input type="submit" value="go">
</form>


<table class="table">
    <% @feedback.each do |f|  %>
        <tr>
            <td>
                <%= f[:id] %>
            </td>

            <td>
                <%= f[:created_at] %>
            </td>

            <td>
                <%= f[:text] %>
            </td>
        </tr>
    <% end if @feedback %>
</table>
