<table class="table">
    <% @todos.each_with_index do |todo, index| %>
        <tr>
            <td>
                <a href="/rm_todo?id=<%=todo[:id]%>">X</a>
            </td>

            <td>
                <%= todo[:id] %>
            </td>

            <td>
                <%= todo[:created_at] %>
            </td>

            <td>
                <%= todo[:text] %>
            </td>
        </tr>
    <% end if @todos%>
</table>
