

<%= erb :_new_todo_form , layout: false %>

<% @tag_list.each_with_index do |tag, index| %>
    <a class="tag label label-primary" href="/todo/todo_list?tag_id=<%=tag[:id]%>"><%= tag[:tag] %></a>
<% end if @tag_list%>
<a class="tag label label-info" href="/todo/todo_list?list_all=1">ALL</a>

<%= erb :_list_at_todos, layout: false %>
