<table class="table table-condensed" >
        <tr>
            <td>
                What? Where? Who? Why?
            </td>
            <td>
                day
            </td>
            <td>
                night
            </td>
            <td>
                day OR night
            </td>
            <td>
                day AND night
            </td>
            <td>
                text here
            </td>
        </tr>
        <tr>
            <td>Brooklyn Bridge</td> <!--where -->
            <td> </td> <!--day-->
            <td> </td> <!--night-->
            <td> </td> <!--OR-->
            <td>X</td> <!--AND-->
            <td>skyline, sol se põe atrás do Brooklying </td> <!--obs-->
        </tr>
 </table>

 <pre>
        <tr>
            <td> </td> <!--where -->
            <td> </td> <!--day-->
            <td> </td> <!--night-->
            <td> </td> <!--OR-->
            <td> </td> <!--AND-->
            <td> </td> <!--obs-->
        </tr>
 </pre>
