<div class="panel panel-primary">
  <div class="panel-heading"> New York City, segunda feira, 14 de Novembro de 2016</div>
  <div class="panel-body">
    <p>Chegaremos em NYC as 12:00 (meio-dia)<p>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <p class="bg-danger">12:00</p>
  </div>
  <div class="col-xs-2">
    <p class="bg-danger">12:30</p>
  </div>
  <div class="col-xs-8">
    <p class="bg-danger">Se ambientar e comprar Metro Card MTA</p>
  </div>
</div>
<!-- <div class"row"> -->
<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m70!1m12!1m3!1d24179.71423291745!2d&#45;74.00359759079588!3d40.75181217694852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m55!3e2!4m5!1s0x89c259bb92a18ae9%3A0x986770a99c52c9f3!2sChelsea+International+Hostel!3m2!1d40.7432453!2d&#45;73.99904599999999!4m5!1s0x89c259a3f71c1f67%3A0xde2a6125ed704926!2sFlatiron+Building!3m2!1d40.741060499999996!2d&#45;73.9896986!4m5!1s0x89c259a6c9ddf5cb%3A0x740d090695e7049f!2sMadison+Square+Park+Conservancy!3m2!1d40.7418514!2d&#45;73.9881133!4m5!1s0x89c259a929abe511%3A0x60bf9cdac8a5aa83!2sGreeley+Square!3m2!1d40.7487156!2d&#45;73.9882971!4m5!1s0x89c259aaee2e83e7%3A0x3e6440cd72ee3877!2sBryant+Park+Winter+Village!3m2!1d40.753744999999995!2d&#45;73.9836394!4m5!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY!3m2!1d40.759011!2d&#45;73.9844722!4m5!1s0x89c258fecf664df5%3A0x33d224a0d5dacca2!2sRockefeller+Center!3m2!1d40.7587402!2d&#45;73.9786736!4m5!1s0x89c258fc102f6e51%3A0x88603435e036aa5b!2sSt.+Patrick&#38;#39;s+Cathedral!3m2!1d40.7584653!2d&#45;73.97599269999999!4m5!1s0x89c258f0741ceda7%3A0x4fd23cddb7a3d144!2sApple+Fifth+Avenue!3m2!1d40.763835799999995!2d&#45;73.9729776!5e0!3m2!1sen!2sus!4v1476523469825" allowfullscreen></iframe> -->
<!-- </div> -->
<!-- <div class"row"> -->
<!--     <a href="https://goo.gl/maps/iNG1CqEXvpx">ver no google maps</a> -->
<!-- </div> -->
<!-- </div> -->




<!-- <p> pequeno -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m70!1m12!1m3!1d24179.714232917446!2d&#45;74.00359759079588!3d40.751812176948526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m55!3e2!4m5!1s0x89c259bb92a18ae9%3A0x986770a99c52c9f3!2sChelsea+International+Hostel!3m2!1d40.7432453!2d&#45;73.99904599999999!4m5!1s0x89c259a3f71c1f67%3A0xde2a6125ed704926!2sFlatiron+Building!3m2!1d40.741060499999996!2d&#45;73.9896986!4m5!1s0x89c259a6c9ddf5cb%3A0x740d090695e7049f!2sMadison+Square+Park+Conservancy!3m2!1d40.7418514!2d&#45;73.9881133!4m5!1s0x89c259a929abe511%3A0x60bf9cdac8a5aa83!2sGreeley+Square!3m2!1d40.7487156!2d&#45;73.9882971!4m5!1s0x89c259aaee2e83e7%3A0x3e6440cd72ee3877!2sBryant+Park+Winter+Village!3m2!1d40.753744999999995!2d&#45;73.9836394!4m5!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY!3m2!1d40.759011!2d&#45;73.9844722!4m5!1s0x89c258fecf664df5%3A0x33d224a0d5dacca2!2sRockefeller+Center!3m2!1d40.7587402!2d&#45;73.9786736!4m5!1s0x89c258fc102f6e51%3A0x88603435e036aa5b!2sSt.+Patrick&#38;#39;s+Cathedral!3m2!1d40.7584653!2d&#45;73.97599269999999!4m5!1s0x89c258f0741ceda7%3A0x4fd23cddb7a3d144!2sApple+Fifth+Avenue!3m2!1d40.763835799999995!2d&#45;73.9729776!5e0!3m2!1sen!2sbr!4v1476523301941" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->

<!-- <p> medio -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m70!1m12!1m3!1d24179.71423291745!2d&#45;74.00359759079588!3d40.75181217694852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m55!3e2!4m5!1s0x89c259bb92a18ae9%3A0x986770a99c52c9f3!2sChelsea+International+Hostel!3m2!1d40.7432453!2d&#45;73.99904599999999!4m5!1s0x89c259a3f71c1f67%3A0xde2a6125ed704926!2sFlatiron+Building!3m2!1d40.741060499999996!2d&#45;73.9896986!4m5!1s0x89c259a6c9ddf5cb%3A0x740d090695e7049f!2sMadison+Square+Park+Conservancy!3m2!1d40.7418514!2d&#45;73.9881133!4m5!1s0x89c259a929abe511%3A0x60bf9cdac8a5aa83!2sGreeley+Square!3m2!1d40.7487156!2d&#45;73.9882971!4m5!1s0x89c259aaee2e83e7%3A0x3e6440cd72ee3877!2sBryant+Park+Winter+Village!3m2!1d40.753744999999995!2d&#45;73.9836394!4m5!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY!3m2!1d40.759011!2d&#45;73.9844722!4m5!1s0x89c258fecf664df5%3A0x33d224a0d5dacca2!2sRockefeller+Center!3m2!1d40.7587402!2d&#45;73.9786736!4m5!1s0x89c258fc102f6e51%3A0x88603435e036aa5b!2sSt.+Patrick&#38;#39;s+Cathedral!3m2!1d40.7584653!2d&#45;73.97599269999999!4m5!1s0x89c258f0741ceda7%3A0x4fd23cddb7a3d144!2sApple+Fifth+Avenue!3m2!1d40.763835799999995!2d&#45;73.9729776!5e0!3m2!1sen!2sus!4v1476523469825" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->

<!-- <p> grande -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m70!1m12!1m3!1d24179.71423291745!2d&#45;74.00359759079588!3d40.75181217694852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m55!3e2!4m5!1s0x89c259bb92a18ae9%3A0x986770a99c52c9f3!2sChelsea+International+Hostel!3m2!1d40.7432453!2d&#45;73.99904599999999!4m5!1s0x89c259a3f71c1f67%3A0xde2a6125ed704926!2sFlatiron+Building!3m2!1d40.741060499999996!2d&#45;73.9896986!4m5!1s0x89c259a6c9ddf5cb%3A0x740d090695e7049f!2sMadison+Square+Park+Conservancy!3m2!1d40.7418514!2d&#45;73.9881133!4m5!1s0x89c259a929abe511%3A0x60bf9cdac8a5aa83!2sGreeley+Square!3m2!1d40.7487156!2d&#45;73.9882971!4m5!1s0x89c259aaee2e83e7%3A0x3e6440cd72ee3877!2sBryant+Park+Winter+Village!3m2!1d40.753744999999995!2d&#45;73.9836394!4m5!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY!3m2!1d40.759011!2d&#45;73.9844722!4m5!1s0x89c258fecf664df5%3A0x33d224a0d5dacca2!2sRockefeller+Center!3m2!1d40.7587402!2d&#45;73.9786736!4m5!1s0x89c258fc102f6e51%3A0x88603435e036aa5b!2sSt.+Patrick&#38;#39;s+Cathedral!3m2!1d40.7584653!2d&#45;73.97599269999999!4m5!1s0x89c258f0741ceda7%3A0x4fd23cddb7a3d144!2sApple+Fifth+Avenue!3m2!1d40.763835799999995!2d&#45;73.9729776!5e0!3m2!1sen!2sus!4v1476523469825" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> -->
