<style>
    .snkt  td {font-size:12;};
</style>
<div class="col-xs-5">
<strong>New York City, 15 de Novembro de 2016, terça feira</strong>
<table class="snkt table table-condensed table-hover table-bordered">
<tbody><tr><td>inicio</td>
<td>fim</td>
<td>Descrição</td>
<td>$</td>
</tr>
<tr><td> </td>
<td> </td>
<td> </td>
<td>$64,00</td>
</tr>
<tr><td>12:00</td>
<td>12:00</td>
<td>Chegaremos 12:00 no LGA - LaGuardia Airport</td>
<td> </td>
</tr>
<tr><td>12:00</td>
<td>12:45</td>
<td>Bagagens e ambientação</td>
<td> </td>
</tr>
<tr><td> </td>
<td> </td>
<td>Comprar MetroCard MTA</td>
<td>$30,00</td>
</tr>
<tr><td>12:45</td>
<td>13:30</td>
<td>Trajeto LGA =&gt; Hostel</td>
<td>$30,00</td>
</tr>
<tr><td>13:30</td>
<td>14:00</td>
<td>Trajeto LGA =&gt; Hostel</td>
<td> </td>
</tr>
<tr><td>14:00</td>
<td>14:30</td>
<td>Check-in Hostel - deixar malas? ($3 a $5)</td>
<td>$4,00</td>
</tr>
<tr><td>14:30</td>
<td>15:00</td>
<td>Flatiron Building, <br/>Madison Square Park Conservancy, <br/>Greeley Square</td>
<td> </td>
</tr>
<tr><td>15:00</td>
<td>15:30</td>
<td>Bryant Park Winter Village,<br/>Times Square</td>
<td> </td>
</tr>
<tr><td>15:30</td>
<td>16:00</td>
<td>Rockefeller Center, <br/>St. Patrick&#39;s Cathedral, <br/>Apple Fifth Avenue</td>
<td> </td>
</tr>
<tr><td>16:00</td>
<td>16:30</td>
<td>ONU,<br/>Grand Central Station,<br/>Toy R Us</td>
<td> </td>
</tr>
<tr><td>16:30</td>
<td>17:00</td>
<td>Biblioteca Pública, Colombus Circus</td>
<td> </td>
</tr>
<tr><td>17:00</td>
<td>17:30</td>
<td>Mega Store M&amp;M, Disney Store, Lego Store</td>
<td> </td>
</tr>
<tr><td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr><td>17:30</td>
<td>18:00</td>
<td>(andar)</td>
<td> </td>
</tr>
<tr><td>18:00</td>
<td>18:30</td>
<td>Times Square de Noite<br/>Quinta avenida</td>
<td> </td>
</tr>
<tr><td>18:30</td>
<td>19:00</td>
<td>Macys</td>
<td> </td>
</tr>
<tr><td>19:00</td>
<td>19:30</td>
<td>(andar)</td>
<td> </td>
</tr>
<tr><td>19:30</td>
<td>20:00</td>
<td>(andar)</td>
<td> </td>
</tr>
<tr><td>20:00</td>
<td>20:30</td>
<td> </td>
<td> </td>
</tr>
<tr><td>20:30</td>
<td>21:00</td>
<td> </td>
<td> </td>
</tr>
</tbody></table>

</div>

<div class="col-xs-5">
    <table class="snkt table table-bordered table-hover table-condensed">
<tbody><tr><td>15/11/2016</td>
<td>terça feira</td>
<td>Descrição</td>
<td>$</td>
</tr>
<tr><td>08:00</td>
<td>09:00</td>
<td>Café da manhã e afins</td>
<td> </td>
</tr>
<tr><td>09:00</td>
<td>10:00</td>
<td>Central Park</td>
<td>30</td>
</tr>
<tr><td>10:00</td>
<td>11:00</td>
<td>Central Park</td>
<td> </td>
</tr>
<tr><td>11:00</td>
<td>11:30</td>
<td>⌘ Washington Square Arch</td>
<td> </td>
</tr>
<tr><td>11:30</td>
<td>12:30</td>
<td>Almoçar</td>
<td> </td>
</tr>
<tr><td>12:30</td>
<td>13:30</td>
<td>Lower Manhattan - Centro Financeiro e Administrativo</td>
<td> </td>
</tr>
<tr><td>14:00</td>
<td>15:00</td>
<td>Lower Manhattan - Centro Financeiro,  wall street, touro, stock exchange, prefeitura, federal reserve, trinity church</td>
<td> </td>
</tr>
<tr><td>15:00</td>
<td>16:00</td>
<td>⌘ One World Trade Center Observatory (skyline)</td>
<td>34</td>
</tr>
<tr><td>16:00</td>
<td>17:00</td>
<td>⌘ One World Trade Center Observatory (skyline)</td>
<td> </td>
</tr>
<tr><td>Sun Set Time : 17:40</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr><td>17:00</td>
<td>18:00</td>
<td>⌘ Roosevelt Island Tramway (skyline)</td>
<td> </td>
</tr>
<tr><td>18:00</td>
<td>19:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>19:00</td>
<td>20:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>20:00</td>
<td>21:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>21:00</td>
<td>22:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>22:00</td>
<td>23:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>23:00</td>
<td>00:00</td>
<td> </td>
<td> </td>
</tr>
<tr><td>15/11/2016</td>
<td>00:00</td>
<td>01:00</td>
<td>$64,00</td>
</tr>
</tbody></table>
    </div>

<!-- <div class="col&#45;xs&#45;4"> -->
