<style>
    .snkt  td class="" {font-size:12;};
</style>
<div class"col-xs-20">
<table class="snkt table table-bordered table-hover table-condensed">
<tbody><tr>
<td class="success">de</td>
<td class="danger">ate</td>
<td class="active">14/11/2016</td>
<td class="info">15/11/2016</td>
<td class="warning">16/11/2016</td>
<td class="danger">17/11/2016</td>
</tr>
<tr>
<td class="success">8:00</td>
<td class="danger">8:30</td>
<td class="active"> </td>
<td class="info">Café da manhã e afins</td>
<td class="warning">Café da manhã e afins</td>
<td class="danger">Café da manhã e afins</td>
</tr>
<tr>
<td class="success">8:30</td>
<td class="danger">9:00</td>
<td class="active"> </td>
<td class="info">Café da manhã e afins</td>
<td class="warning">Café da manhã e afins</td>
<td class="danger">Café da manhã e afins</td>
</tr>
<tr>
<td class="success">9:00</td>
<td class="danger">9:30</td>
<td class="active"> </td>
<td class="info">Central Park</td>
<td class="warning">⌘ Brooklyn Bridge, ⌘ Empire Fulton Ferry https://www.citibikenyc.com/pricing</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">9:30</td>
<td class="danger">10:00</td>
<td class="active"> </td>
<td class="info">Central Park</td>
<td class="warning">⌘ Brooklyn Bridge, ⌘ Empire Fulton Ferry https://www.citibikenyc.com/pricing</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">10:00</td>
<td class="danger">10:30</td>
<td class="active"> </td>
<td class="info">Central Park</td>
<td class="warning">⌘ Brooklyn Bridge, ⌘ Empire Fulton Ferry https://www.citibikenyc.com/pricing</td>
<td class="danger">Helicóptero</td>
</tr>
<tr>
<td class="success">10:30</td>
<td class="danger">11:00</td>
<td class="active"> </td>
<td class="info">Central Park</td>
<td class="warning">⌘ Brooklyn Bridge, ⌘ Empire Fulton Ferry https://www.citibikenyc.com/pricing</td>
<td class="danger">Helicóptero</td>
</tr>
<tr>
<td class="success">11:00</td>
<td class="danger">11:30</td>
<td class="active"> </td>
<td class="info">⌘ Washington Square Arch</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">Chinatown</td>
</tr>
<tr>
<td class="success">11:30</td>
<td class="danger">12:00</td>
<td class="active"> </td>
<td class="info">Almoçar</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">Chinatown</td>
</tr>
<tr>
<td class="success">12:00</td>
<td class="danger">12:30</td>
<td class="active">Chegaremos 12:00 no LGA - LaGuardia Airport</td>
<td class="info">Almoçar</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">Little Italy</td>
</tr>
<tr>
<td class="success">12:30</td>
<td class="danger">13:00</td>
<td class="active">Bagagens e ambientação Comprar MetroCard MTA</td>
<td class="info">Lower Manhattan - Centro Financeiro e Administrativo</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">Little Italy</td>
</tr>
<tr>
<td class="success">13:00</td>
<td class="danger">13:30</td>
<td class="active">Trajeto LGA =&gt; Hostel</td>
<td class="info">Lower Manhattan - Centro Financeiro e Administrativo</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">The High Line</td>
</tr>
<tr>
<td class="success">13:30</td>
<td class="danger">14:00</td>
<td class="active">Trajeto LGA =&gt; Hostel</td>
<td class="info">Lower Manhattan - Centro Financeiro e Administrativo</td>
<td class="warning">Intrepid Museum</td>
<td class="danger">The High Line</td>
</tr>
<tr>
<td class="success">14:00</td>
<td class="danger">14:30</td>
<td class="active">Check-in Hostel - deixar malas? ($3 a $5)</td>
<td class="info">Lower Manhattan - Centro Financeiro,  wall street, touro, stock exchange, prefeitura, federal reserve, trinity church</td>
<td class="warning">Almoçar</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">14:30</td>
<td class="danger">15:00</td>
<td class="active">Flatiron Building,  Madison Square Park Conservancy,  Greeley Square https://goo.gl/maps/SGo3RRgwTG22</td>
<td class="info">Lower Manhattan - Centro Financeiro,  wall street, touro, stock exchange, prefeitura, federal reserve, trinity church</td>
<td class="warning">Almoçar</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">15:00</td>
<td class="danger">15:30</td>
<td class="active">Bryant Park Winter Village, Times Square</td>
<td class="info">⌘ One World Trade Center Observatory (skyline)</td>
<td class="warning">Estátua da Liberdade + volta de barco</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">15:30</td>
<td class="danger">16:00</td>
<td class="active">Rockefeller Center,  St. Patrick&#39;s Cathedral,  Apple Fifth Avenue</td>
<td class="info">⌘ One World Trade Center Observatory (skyline)</td>
<td class="warning">Estátua da Liberdade + volta de barco</td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">16:00</td>
<td class="danger">16:30</td>
<td class="active">ONU, Grand Central Station, Toy R Us</td>
<td class="info">⌘ One World Trade Center Observatory (skyline)</td>
<td class="warning">Estátua da Liberdade + volta de barco</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success">16:30</td>
<td class="danger">17:00</td>
<td class="active">Biblioteca Pública, Colombus Circus</td>
<td class="info">⌘ One World Trade Center Observatory (skyline)</td>
<td class="warning">Estátua da Liberdade + volta de barco</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success">17:00</td>
<td class="danger">17:30</td>
<td class="active">Mega Store M&amp;M, Disney Store, Lego Store</td>
<td class="info">⌘ Roosevelt Island Tramway (skyline)</td>
<td class="warning">⌘ Top of the Rock</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success"> </td>
<td class="danger"> </td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">17:30</td>
<td class="danger">18:00</td>
<td class="active">(andar)</td>
<td class="info">⌘ Roosevelt Island Tramway (skyline)</td>
<td class="warning">⌘ Top of the Rock</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success">18:00</td>
<td class="danger">18:30</td>
<td class="active">Times Square de Noite Quinta avenida</td>
<td class="info"> </td>
<td class="warning">⌘ Top of the Rock</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success">18:30</td>
<td class="danger">19:00</td>
<td class="active">Macys</td>
<td class="info"> </td>
<td class="warning">⌘ Top of the Rock</td>
<td class="danger">⌘ Brooklyn Bridge</td>
</tr>
<tr>
<td class="success">19:00</td>
<td class="danger">19:30</td>
<td class="active">(andar)</td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">19:30</td>
<td class="danger">20:00</td>
<td class="active">(andar)</td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">20:00</td>
<td class="danger">20:30</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">20:30</td>
<td class="danger">21:00</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">21:00</td>
<td class="danger">21:30</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">21:30</td>
<td class="danger">22:00</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">22:00</td>
<td class="danger">22:30</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">22:30</td>
<td class="danger">23:00</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">23:00</td>
<td class="danger">23:30</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
<tr>
<td class="success">23:30</td>
<td class="danger">0:00</td>
<td class="active"> </td>
<td class="info"> </td>
<td class="warning"> </td>
<td class="danger"> </td>
</tr>
</tbody></table>
</div>
