<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Countdown</title>
    <link rel="stylesheet" type="text/css" href="/contador/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/contador/css/style.css">
    <link type="javascript" href="/contador/js/script.js">
    <script src="/contador/js/jquery.min.js"></script>
    <script src="/contador/js/progressbar.min.js"></script>
    <script src="/contador/js/countdown.js"></script>
</head>
<body>

    <div id="contador">
    </div>
</body>
</html>
