<html>
    <head>
        <meta name="robots" content="noindex" />
        <title>Questões de Concursos</title>

        <style>
            #container_busca{border:1px solid black; padding:10px;}
            body {line-height: 1.2; font-family:tahoma;font-size:90%;background-color: #eae4d3;}
       </style>


     </head>

    <body>
    <a href="/">Questoes</a> | <a href="/estatisticas">Estatisticas</a> | <a href="/classificador">Classificador</a> | <a href="/contador">Contador</a> | <a href="/cards">Cards</a> | <a href="/todo_list">TODO</a>
    <%= yield %>
    </body>
</html>
