kit_time/kit_time.erb

<div class="col-md-12">
<div class="col-md-8">
<%= erb :"kit_time/list_time", layout: false %>
</div>

<div class="col-md-4">
<%= erb :"kit_time/form_new_time", layout: false %>
</div>
</div>



