<html>
    <head>
        <meta name="robots" content="noindex" />
        <title>keep it</title>
     </head>
    <body>

        <form id="new_todo"  method="get" action="/new_todo">
            <labeL for="text">text:</labeL>
            <input name="text" id="text" type="text" size=40 />
            <input type="submit" value="go">
        </form>
        </div>
    </body>

    </body>
</html>
